In [4]:
import numpy as np
import pandas as pd
import json

In [7]:
def secret_santa(liste_participants, config):
    resultats = []
    offrants_restant = liste_participants.copy()
    recevants_restant = liste_participants.copy()
    exclusions = config['exclusions'].copy()
    obligations = config['obligations'].copy()

    # on traite d'abord les obligations
    for offrant, recevant in obligations:
        resultats.append((offrant, recevant))
        offrants_restant.pop(offrants_restant.index(offrant))
        recevants_restant.pop(recevants_restant.index(recevant))
        
    # on parcours au hasard la liste des participants
    for i_donnant_a_traiter in np.random.permutation(len(offrants_restant)):
        donnant_a_traiter = offrants_restant[i_donnant_a_traiter]
        # on tire au hasard les recevants restants
        for i_recevant_possible in np.random.permutation(len(recevants_restant)):
            # vérification des exclusions
            if (donnant_a_traiter, recevants_restant[i_recevant_possible]) not in exclusions and donnant_a_traiter != recevants_restant[i_recevant_possible]:
                resultats.append((donnant_a_traiter, recevants_restant[i_recevant_possible]))
                recevants_restant.pop(i_recevant_possible)
                break
            else:
                continue
    return(resultats)

In [24]:
liste_participants = ['Papa', 'Maman', 'Didier', 'Anne', 'Cécile', 'Mamy', 'Bruno']
config = {
    'exclusions':[
        ('Papa', 'Maman'),
        ('Maman', 'Papa'),
        ('Cecile', 'Bruno'),
        ('Bruno', 'Cecile'),
        ('Anne', 'Didier'),
        ('Didier', 'Anne')],
    'obligations':[
        ('Bruno', 'Papa'),
        ('Didier', 'Maman')]
}
secret_santa_results = secret_santa(liste_participants, config)
pd.DataFrame(secret_santa_results, columns = ['offrant', 'recevant'])

  offrant recevant
0   Bruno     Papa
1  Didier    Maman
2  Cécile     Anne
3   Maman     Mamy
4    Mamy    Bruno
5    Papa   Didier
6    Anne   Cécile

In [25]:
liste_participants = ['TERRIER Viktor', 'FINET Sebastien', 'GIROD Marie', 'COGEN Florent', 'DUMAS Jonathan', 'LITTLE Emily', 'DUSSARTRE Virginie', 'HAMDANE Ibtissam', 
                      'ARULPRAGASAM Steven', 'MOTHE Axel', 'BUSTARRET Quentin', 'LEMETAYER Bruno']
config = {
    'exclusions':[],
    'obligations':[]}
secret_santa_results = secret_santa(liste_participants, config)
pd.DataFrame(secret_santa_results, columns = ['offrant', 'recevant'])

                offrant             recevant
0        DUMAS Jonathan   DUSSARTRE Virginie
1            MOTHE Axel      LEMETAYER Bruno
2        TERRIER Viktor       DUMAS Jonathan
3    DUSSARTRE Virginie       TERRIER Viktor
4       FINET Sebastien     HAMDANE Ibtissam
5         COGEN Florent          GIROD Marie
6   ARULPRAGASAM Steven         LITTLE Emily
7          LITTLE Emily           MOTHE Axel
8     BUSTARRET Quentin  ARULPRAGASAM Steven
9       LEMETAYER Bruno    BUSTARRET Quentin
10     HAMDANE Ibtissam      FINET Sebastien
11          GIROD Marie        COGEN Florent

In [27]:
with open('data/config_famille.json') as f:
    config = json.load(f)
liste_participants = pd.read_csv('data/participants_famille.csv', header=None, names=['participants'])['participants'].to_list()

secret_santa_results = secret_santa(liste_participants, config)
pd.DataFrame(secret_santa_results, columns = ['offrant', 'recevant'])

  offrant recevant
0   Bruno     Papa
1  Didier    Maman
2    Anne   Didier
3    Papa     Mamy
4  Cécile    Bruno
5   Maman   Cécile
6    Mamy     Anne